<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page</h1>
    <h2>Author : {{author}}</h2>
    <h2>Age:{{age}}</h2>

    <!-- conditional statement -->
    {% if age >= 20 %}
        <h2>You are adult</h2>
    {% else %}
        <h2>You are not adult</h2>
    {% endif %}

    {{lst}}
    <h1>{{lst | join:"-"}}</h1>
    <h1>{{ birthDay | date:"D d M Y" }}</h1>
    <h1>{{ val | default:"nothing is here" }}</h1>
    <h1>{{"Python is Fun" | cut:" "}}</h1>
    <!-- <h1>{{"January - February - March" | cut:"-"}}</h1> -->
    <h1>{{'welcome' | length}}</h1>
    <h1>{{'Happy coding,Python is best right now' | truncatewords:2}}</h1>
    <!-- for loop -->
    {% for i in courses %}
        <h3>{{i.id}} {{i.name}} {{i.fee}}</h3>
        {% endfor %}

</body>
</html>