{% extends 'base.html' %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static 'about.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row about_us">
        <div class="col-md-6">
            <img class="w-50" src="{% static 'AF_ID card.jpg' %}" alt="">
        </div>
        <div class="col-md-6">
            <h2 class="about_title">Hello I am Shakil Ahmmed</h2>
            <p class="about_details"> Shakil is a culinary connoisseur driven by a passion for creating unforgettable dining experiences. With a background in [mention relevant experience], [he/she] founded [Restaurant Name] to share [his/her] love for [specific cuisine or concept] with the world. Committed to excellence in every detail, I am invites guests to indulge in a journey of flavors and hospitality unlike any other.</p>
            <a class="icone" href=""><i class="fa-brands fa-facebook"></i></a>
            <a class="icone" href=""><i class="fa-brands fa-linkedin"></i></i></a>
            <a class="icone" href=""><i class="fa-brands fa-instagram"></i></i></a>
        </div>
    </div>
</div>

{% endblock %}